{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- start about section  -->
 <section class="about" id="about">
    <div class="container">
        <div class="section-title">
            <h1>Our Story</h1>
            <span>The Beauty Hub</span>
        </div>
        <div class="about-detail">
            <div class="about-detail-content">
                <div class="about-img">
                    <img src="{% static 'images/img3.avif' %}">
                </div>
                <div class="about-description">
                    <p>Smart_Salon connects you with top salon professionals for a seamless experience.
                        Browse a wide range of services and easily book appointments online.
                        Enjoy personalized beauty treatments tailored to your preferences.
                        Experience effortless booking and exceptional salon care with Smart_Salon.</p>
                    <p>Discover a curated selection of skilled stylists and quality services.
                        Say goodbye to phone calls and enjoy instant booking convenience.
                        Your next perfect salon experience is just a few clicks away with Smart_Salon.</p>
                        <p>Unlock a world of beauty and wellness at your fingertips.
                            Smart_Salon: Making your salon visits simpler and more enjoyable.</p>
                </div>
            </div>
        </div>
    </div>
 </section>




{% endblock %}