{% extends 'base.html' %}
{% block content %}


<section class="package" id="package">
    <div class="section-title">
        <h1>promotional packages</h1>
        <span>for your bride's day</span>
    </div>
    <div class="package-cards">
        <div class="card">
            <div class="card-title">
                <h1>Bronze</h1>
            </div>
            <div class="card-items">
                <div class="item">
                    <i class="far fa-check-square check-icon"></i>
                    <p>Hairstyle</p>
                </div>
                <div class="item">
                    <i class="far fa-check-square check-icon"></i>
                    <p>Makeup</p>
                </div>
                <div class="item">
                    <i class="far fa-check-square check-icon"></i>
                    <p>Nails <span>(traditional french)</span></p>
                </div>
                <div class="item">
                    <i class="far fa-times-square x-icon"></i>
                    <p class="not">hair removal</p>
                </div>
                <div class="item">
                    <i class="far fa-times-square x-icon"></i>
                    <p class="not">eyebrow design</p>
                </div>
                <div class="item">
                    <i class="far fa-times-square x-icon"></i>
                    <p class="not">skin cleansing</p>
                </div>
                <div class="item">
                    <i class="far fa-times-square x-icon"></i>
                    <p class="not">reserved bridal room</p>
                </div>
                <div class="item">
                    <i class="far fa-times-square x-icon"></i>
                    <p class="not">table fruit</p>
                </div>
                <button class="btn" onclick="location.href='/payments/payment/?package=Bronze'">I want this</button>
            </div>
        </div>
        <div class="card">
            <div class="card-title">
                <h1>Silver</h1>
            </div>
            <div class="card-items">
                <div class="item">
                    <i class="far fa-check-square check-icon"></i>
                    <p>Hairstyle</p>
                </div>
                <div class="item">
                    <i class="far fa-check-square check-icon"></i>
                    <p>Makeup</p>
                </div>
                <div class="item">
                    <i class="far fa-check-square check-icon"></i>
                    <p>Nails <span>(traditional french)</span></p>
                </div>
                <div class="item">
                    <i class="far fa-check-square check-icon"></i>
                    <p>Hair removal</p>
                </div>
                <div class="item">
                    <i class="far fa-check-square check-icon"></i>
                    <p>Eyebrow design</p>
                </div>
                <div class="item">
                    <i class="far fa-times-square x-icon"></i>
                    <p class="not">skin cleansing</p>
                </div>
                <div class="item">
                    <i class="far fa-times-square x-icon"></i>
                    <p class="not">reserved bridal room</p>
                </div>
                <div class="item">
                    <i class="far fa-times-square x-icon"></i>
                    <p class="not">table fruit</p>
                </div>
                <button class="btn" onclick="location.href='/payments/payment/?package=Silver'">I want this</button>
            </div>
        </div>
        <div class="card">
            <div class="card-title">
                <h1>Gold</h1>
            </div>
            <div class="card-items">
                <div class="item">
                    <i class="far fa-check-square check-icon"></i>
                    <p>Hairstyle</p>
                </div>
                <div class="item">
                    <i class="far fa-check-square check-icon"></i>
                    <p>Makeup</p>
                </div>
                <div class="item">
                    <i class="far fa-check-square check-icon"></i>
                    <p>Nails <span>(traditional french)</span></p>
                </div>
                <div class="item">
                    <i class="far fa-check-square check-icon"></i>
                    <p>Hair removal</p>
                </div>
                <div class="item">
                    <i class="far fa-check-square check-icon"></i>
                    <p>Eyebrow design</p>
                </div>
                <div class="item">
                    <i class="far fa-times-square x-icon"></i>
                    <p class="not">skin cleansing</p>
                </div>
                <div class="item">
                    <i class="far fa-check-square check-icon"></i>
                    <p>reserved bridal room</p>
                </div>
                <div class="item">
                    <i class="far fa-times-square x-icon"></i>
                    <p class="not">table fruit</p>
                </div>
                <button class="btn" onclick="location.href='/payments/payment/?package=Gold'">I want this</button>
            </div>
        </div>
        <div class="card">
            <div class="card-title">
                <h1>Diamond</h1>
            </div>
            <div class="card-items">
                <div class="item">
                    <i class="far fa-check-square check-icon"></i>
                    <p>Hairstyle</p>
                </div>
                <div class="item">
                    <i class="far fa-check-square check-icon"></i>
                    <p>Makeup</p>
                </div>
                <div class="item">
                    <i class="far fa-check-square check-icon"></i>
                    <p>Nails <span>(traditional french)</span></p>
                </div>
                <div class="item">
                    <i class="far fa-check-square check-icon"></i>
                    <p>Hair removal</p>
                </div>
                <div class="item">
                    <i class="far fa-check-square check-icon"></i>
                    <p>Eyebrow design</p>
                </div>
                <div class="item">
                    <i class="far fa-check-square check-icon"></i>
                    <p>skin cleansing</p>
                </div>
                <div class="item">
                    <i class="far fa-check-square check-icon"></i>
                    <p>reserved bridal room</p>
                </div>
                <div class="item">
                    <i class="far fa-check-square check-icon"></i>
                    <p>table fruit</p>
                </div>
                <button class="btn" onclick="location.href='/payments/payment/?package=Diamond'">I want this</button>
            </div>
        </div>
    </div>
</section>

{% endblock %}