{% extends 'base.html' %}
{% block content %}
{% load static %}

<section class="testimonials">
    <div class="testimonials-content">
        <div class="section-title">
            <h1>testimonials</h1>
            <span>see what out cutomer say</span>
        </div>
        <div class="testimonials-card">
            <div class="testimonials-item">
                <div class="testimonials-img">
                    <img src="{% static 'images/testi.1.avif' %}"height="230" width="250">
                </div>
                <div class="testimonials-box">
                    <div class="testimonials-name">
                        <h1>celaena</h1>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="testimonials-description">
                        <p>Absolutely loved the service! The team was professional, friendly, and made me feel so comfortable. I’ll definitely be coming back — it’s hard to find such great quality and attention to detail!</p>
                    </div>
                </div>
            </div>
            <div class="testimonials-item">
                <div class="testimonials-img">
                    <img src="{% static 'images/testi2.jpg' %}"height="230" width="250">
                </div>
                <div class="testimonials-box">
                    <div class="testimonials-name">
                        <h1>lucina</h1>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="testimonials-description">
                        <p>From booking to the final result, everything was smooth and flawless. Highly recommended if you're looking for expert beauty care with a personal touch!</p>
                    </div>
                </div>
            </div>
            <div class="testimonials-item">
                <div class="testimonials-img">
                    <img src="{% static 'images/testi3.jpg' %}"height="230" width="250">
                </div>
                <div class="testimonials-box">
                    <div class="testimonials-name">
                        <h1>Aelin</h1>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="testimonials-description">
                        <p>I've visited many salons, but none compare to this one. The ambiance, the staff, and the results were amazing. I felt truly pampered and valued as a customer!</p>
                    </div>
                </div>
            </div>
            <div class="testimonials-item">
                <div class="testimonials-img">
                    <img src="{% static 'images/testi4.webp' %}"height="230" width="250">
                </div>
                <div class="testimonials-box">
                    <div class="testimonials-name">
                        <h1>patrica</h1>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="testimonials-description">
                        <p>Wonderful experience every single time. The services are top-notch, and the staff always go above and beyond. It’s like a mini vacation in the middle of a busy week!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}





